<a [routerLink]="[recipe.id]" routerLinkActive="active" style="cursor: pointer; display: flex; align-items: center;"
   class="list-group-item clearfix">
    <div class="pull-left">
        <h4 class="list-group-item-heading">
            {{recipe.name}}
        </h4>
        <p class="list-group-item-text" style="max-width: 70%;"> <!-- Adjust max-width as needed -->
            {{recipe.description}}
        </p>
    </div>
    <div class="pull-right">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive recipe-image">
    </div>
</a>
